<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Richfield_PC_Store.My.MySettings.RGI_tech_storeConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\bin\Debug\RGI tech store.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Richfield_PC_Store.My.MySettings.MoreUserDetailsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\MoreUserDetails.mdb"
            providerName="System.Data.OleDb" />
        <add name="Richfield_PC_Store.My.MySettings.StockConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\Stock.mdb"
            providerName="System.Data.OleDb" />
        <add name="Richfield_PC_Store.My.MySettings.RGI_tech_storeConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Thato Metsing\Documents\BSc Information Technology\ASSIGNMENTS\Semester 2\Programming\RGI tech store.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Richfield_PC_Store.My.MySettings.StockConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Thato Metsing\Documents\BSc Information Technology\ASSIGNMENTS\Semester 2\Programming\Stock.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Richfield_PC_Store.My.MySettings.MoreUserDetailsConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Thato Metsing\Documents\BSc Information Technology\ASSIGNMENTS\Semester 2\Programming\MoreUserDetails.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>